<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/foto.jpeg">
			</div>
			<div class="info">				
				<a class="text-center" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<br />
					<span>
						Emircan Güleç					
					</span>
					<br />
				</a>
							
				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					
				</div>
			</div>
		</div>
		<ul class="nav">
			
			<li class="nav-item ">
				<a href="/Default/Index/">
					<i class="la la-home"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			
			<li class="nav-item ">
				<a href="/ToDoList/Index/">
					<i class="la la-bell"></i>
					<p>Yapılacaklar</p>
				</a>
			</li>
			<li class="nav-item ">
				<a href="/Experience/ExperienceList">
					<i class="la la-leanpub"></i>
					<p>Deneyimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Certificate/CertificateList">
					<i class="la la-user-secret"></i>
					<p>Sertifikalarım</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Skill/SkillList">
					<i class="la la-certificate"></i>
					<p>Yeteneklerim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message/Inbox/">
					<i class="la la-envelope"></i>
					<p>Gelen Kutusu</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-power-off"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>

