@model List<MyPortfolioUdemy.DAL.Entities.Feature>
<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="https://localhost:7293/Hola10/images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>
    @foreach (var item in Model)
    {
        <div class="home-content">

            <div class="row home-content__main" style="font-family: 'Roboto',sans-serif">
                
                <h3>@item.Title</h3>

                <h1>
                   @*  Ben Emircan Güleç <br>
                    Yazılım geliştirici ve Elektrik Elektronik Mühendisiyim. <br> *@
                    @item.Description

                </h1>

                <div class="home-content__buttons">
                    <a href="#works" class="smoothscroll btn btn--stroke">
                        Son Projelerim
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        Hakkımda
                    </a>
                </div>

                <div class="home-content__scroll" style="font-family: 'Roboto',sans-serif";>
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>Aşağı İn</span>
                    </a>
                </div>

            </div>

        </div>
    }

     <!-- end home-content -->

    <ul class="home-social">
        <li>
            <a href="https://www.linkedin.com/in/emircanglc/"><i class="im im-linkedin" aria-hidden="true"></i><span>Linkedn</span></a>
        </li>
        <li>
            <a href="https://github.com/EmircanGlc"><i class="im im-github" aria-hidden="true"></i><span>Github</span></a>
        </li>
        <li>
            <a href="https://www.instagram.com/emircan_gulec/profilecard/?igsh=a3dnZDJjbW94dmY="><i class="im im-instagram" aria-hidden="true"></i><span>Instagram</span></a>
        </li>
        <li>
            <a href="https://drive.google.com/file/d/1NM5PocO1jFHACdhT3r7s8Z7715qHJTYq/view"><i class="im im-blogger" aria-hidden="true"></i><span>CV</span></a>
        </li>
        
    </ul>
    <!-- end home-social -->

</section> <!-- end s-home -->
