<section id="about" class="s-about target-section">

    <div class="row narrow section-intro has-bottom-sep" style="font-family: 'Roboto',sans-serif;>
        <div class="col-full text-center">
            <h3>Hakkımda</h3>
            <h1>@ViewBag.aboutTitle</h1>
            <p class="lead">@ViewBag.aboutSubDescription</p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h2>Ben Kimim!</h2>

            <p> <h4>@ViewBag.aboutDetail</h4></p>
            <p><h4>Benim hakkımda daha fazla bilgi edinmek için aşağıda bulunan "CV'me Git" butonuna tıklayarak Cv'me ulaşabilirsiniz.</h4></p>
        </div>

@await Component.InvokeAsync("_SkillComponentPartial")
    </div> <!-- end about-content -->

    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full left">
            <a href="https://drive.google.com/file/d/1NM5PocO1jFHACdhT3r7s8Z7715qHJTYq/view?usp=sharing" class="btn btn--primary full-width">Cv'me Git.</a>
        </div>
        <div class="col-six tab-full right">
            <a href="mailto:emirglc3@gmail.com" class="btn full-width">Bana Ulaşın</a>
        </div>

    </div> <!-- end about-content buttons -->

@await Component.InvokeAsync("_ExperienceComponentPartial")
</section> <!-- end about -->
