<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1> Projelerime Göz Atın.</h1>

            <p class="lead">Yaptığım projeleri aşağıdan görebilir,resmin üzerine mouse ile gelerek açılan zincir simgesine mouseun "sağ click" tuşu ile 
                "Bağlantıyı Yeni Sekmede Aç" seçeneğine tıklayarak projenin Github sunumu sayfasına gidip detaylı bilgi alabilirsiniz.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/e1wndnw.png" class="thumb-link" title="Airline 302" data-size="1050x700">
                            <img src="https://i.hizliresim.com/e1wndnw.png"
                                 srcset="https://i.hizliresim.com/e1wndnw.png 1x, https://i.hizliresim.com/e1wndnw.png 2x" alt="AirLine302" width="500" height="500">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            AirLine302
                        </h3>
                        <p class="item-folio__cat">
                            Web Project
                        </p>
                    </div>

                    <a href="https://github.com/EmircanGlc/AirLine302_Sunum" class="item-folio__project-link" title="Project link" target="_blank">
                        <i class="im im-github"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>AirLine302 projesinden ufak bir kesit</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/crzwqrj.png" class="thumb-link" title="Ticket302API" data-size="1050x700">
                            <img src="https://i.hizliresim.com/crzwqrj.png"
                                 srcset="https://i.hizliresim.com/crzwqrj.png 1x, https://i.hizliresim.com/crzwqrj.png 2x" alt="">
                            <spanclass="shadow-overlay" ></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Ticket302API
                        </h3>
                        <p class="item-folio__cat">
                            Web Project
                        </p>
                    </div>

                    <a href="https://github.com/EmircanGlc/Ticket302API_Sunum" class="item-folio__project-link" title="Project link">
                        <i class="im im-github"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Ticket302API projesinden ufak bir kesit.</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/8iil1m0.png" class="thumb-link" data-size="1050x700">
                            <img src="https://i.hizliresim.com/8iil1m0.png"
                                 srcset="https://i.hizliresim.com/8iil1m0.png 1x, https://i.hizliresim.com/8iil1m0.png" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            ÖdünçKitap
                        </h3>
                        <p class="item-folio__cat">
                            Web Project
                        </p>
                    </div>

                    <a href="https://github.com/EmircanGlc/OduncKitapProjesi_Sunum" class="item-folio__project-link" title="Project link">
                        <i class="im im-github"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>ÖdünçKitap projesinden ufak bir kesit.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/koe947u.png" class="thumb-link" data-size="1050x700">
                            <img src="https://i.hizliresim.com/koe947u.png"
                                 srcset="https://i.hizliresim.com/koe947u.png 1x, https://i.hizliresim.com/koe947u.png 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                           Champions Leauge
                        </h3>
                        <p class="item-folio__cat">
                            Web Project
                        </p>
                    </div>

                    <a href="https://github.com/EmircanGlc/ChampionsLeaugeProject" class="item-folio__project-link" title="Project link">
                        <i class="im im-github"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>ChampionsLeague projesinden ufak bir kesit</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/truue89.png" class="thumb-link" data-size="1050x700">
                            <img src="https://i.hizliresim.com/truue89.png"
                                 srcset="https://i.hizliresim.com/truue89.png 1x,https://i.hizliresim.com/truue89.png 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            HDDerzulyaCenneti
                        </h3>
                        <p class="item-folio__cat">
                            Web Project
                        </p>
                    </div>

                    <a href="https://github.com/EmircanGlc/HDDerzulyaCennetiFilm_Sunum" class="item-folio__project-link" title="Project link">
                        <i class="im im-github"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>HDDerzulyaCenneti projesinden ufak bir kesit</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/h8qdvqc.png" class="thumb-link" data-size="1050x700">
                            <img src="https://i.hizliresim.com/h8qdvqc.png"
                                 srcset="https://i.hizliresim.com/h8qdvqc.png 1x, https://i.hizliresim.com/h8qdvqc.png 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            MemberShipIntro
                        </h3>
                        <p class="item-folio__cat">
                            Web Project
                        </p>
                    </div>

                    <a href="https://github.com/EmircanGlc/MembershipIntro_Sunum " class="item-folio__project-link" title="Project link">
                        <i class="im im-github"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>MemberShipIntro projesinden ufak bir kesit.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/n5leyap.png" class="thumb-link" data-size="1050x700">
                            <img src="https://i.hizliresim.com/n5leyap.png"
                                 srcset="https://i.hizliresim.com/n5leyap.png 1x, https://i.hizliresim.com/n5leyap.png 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Akbil Yönetimi
                        </h3>
                        <p class="item-folio__cat">
                            Web Project
                        </p>
                    </div>

                    <a href="https://github.com/EmircanGlc/AkbilYonetimi_SUNUM " class="item-folio__project-link" title="Project link">
                        <i class="im im-github"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>AkbilYönetimi projesinden ufak bir kesit.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">           
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

        </div>
    </div> <!-- end masonry -->

</section> <!-- end works -->
